body {
    background-color: #9999bb
}
h1 {
    font-family: 'Neuton', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
}
#whereTo, #regions, #cities{
    display: flex;
    /* justify-content: center; */
    margin-left: 100px;
    margin-top: 100px;

}
#selectDestination, #selectRegion, #selectCity {
    margin-right: 100px;
    width: 500px;
}
.whereTo {
    font-family: 'Neuton', sans-serif;
    font-weight: 300;
    font-size: 2em;
}
#regions {
    align-self: flex-end;
    margin-top: 20px;
}
.regions{
    font-family: 'Neuton', sans-serif;
    font-weight: 300;
    font-size: 2em;
}
#cities {
    align-self: flex-end;
    margin-top: 20px;
}
.cities{
    font-family: 'Neuton', sans-serif;
    font-weight: 300;
    font-size: 2em;
}
.selectRegion {
    width: fit-content;
    font-family: 'Neuton', sans-serif;
    font-weight: 200;
    font-size: .75em;
    margin-left: 58px;
}
.selectCity {
    width: fit-content;
    font-family: 'Neuton', sans-serif;
    font-weight: 200;
    font-size: .75em;
    margin-left: 90px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
    margin: 100px auto 0px auto;
}

.gallery img {
    width: calc(80vw / 3);
    /* height: 300px; */
}

figcaption {
    text-align: center;
}