body {
    /* background-color: #9999bb */
    background-color: #383849;
    color: white;
}
h1 {
    font-family: 'Neuton', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
}

#sections {
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
}

.col1 {
    font-family: 'Neuton', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    text-align: right;
    margin-top: 25px;
}

.col2 {
    margin: 25px 0px 0px 10px;
}

#weather {
display: flex;
margin: -150px 0px -150px 45vw;
/* margin-left: 45vw;
margin-bottom: -400px; */
width: 50vw;
height: 30vh;
}

.weather {
    font-family: 'Neuton', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    text-align: left;
    color: whitesmoke;  
}

.selectDestination, .selectRegion, .selectCity {
    width: fit-content;
    font-family: 'Neuton', sans-serif;
    font-weight: 200;
    font-size: 1.5em;    
    border-radius: 10px;
    margin: 2px 0px 2px 0px;
}
#aTag{
    margin: 150px 0px -300px 400px;
    width: 100px; 
}


/*  SELECT IDS */
#selectDestination, #selectRegion, #selectCity {
    margin-right: 100px;
    width: 400px;
}

/* IMAGE CLASSES */
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* width: 80vw; */
    width: 65vw;
    margin: 200px auto 0px auto;
    order: 0;
}

.gallery img {
    width: calc(60vw / 4.4);
    margin: 0px 5px 0px 5px;
    border-radius: 6px;
    transition: .5s ease-in;
}

.arrows {
    font-size: 4em;
    color: whitesmoke;
    background-color: #383849;
    cursor: pointer;
}

#b1, #b2 {
    display: flex;
    height: fit-content;
    align-self: center;
}
#b1 {
    justify-content: flex-start;
    margin-right: 5px;
}
#images #b2 {
    justify-content: flex-end;
    margin-left: 5px;
    order: 1;

}